body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  position: fixed;
  z-index: 10000;
  display: block;
  background-color: #ffd248;
  overflow-y: auto;
  transition: right 1s;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.a{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
nav {
display: block;
}
/*button */
.btn {
  position: relative;
  font-size: 1.5em;
}

.btn:before {
  content: " ";
  position: absolute;
  top: 1px;
  z-index: -1;
  display: block;
  height: 20px;
  background: #ffd248;
  width: 100%;
  right: 0;
  transition: width 0.3s 0.1s;
}

.btn:hover::before {
  transform: translateY(100%);
  transition: 0.5s;
}

.btn:hover .arrow-strafe-left {
  transform: translateY(4px);
  transition: 0.5s;
}

.btn:hover .arrow-strafe-right {
  transform: translatex(4px);
  transition: 0.5s;
}

/* end of button */

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.description-content {
  position: relative;
  z-index: 2;
}

.bg-broken-top-selling {
  position: absolute;
  top: -82px;
  display: block;
  width: 100%;
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
  height: 175px;
  background-color: #ffd248;
  z-index: -1;
}

.bg-broken-top-selling-reversed {
  position: absolute;
  top: -82px;
  display: block;
  width: 135%;
  /* -webkit-transform: translateX(130px);
  transform: translateX(130px); */
  height: 175px;
  background-color: #ffd248;
  z-index: -1;
}

@media (max-width: 576px) {
  .bg-broken-top-selling,
  .bg-broken-top-selling-reversed {
    display: none;
  }
  .description-content {
    text-align: center;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-broken-top-selling,
  .bg-broken-top-selling-reversed {
    display: none;
  }
  .description-content {
    text-align: center;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}

.dashed::after {
  content: " ";
  position: relative;
  left: 10px;
  top: -7px;
  display: inline-block !important;
  height: 1px;
  width: 55%;
  background-color: #fff;
}

/* About */

.page-section {
  padding: 25px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.main-logo {
  height: 150px;
}

/*карусель*/
.carousel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* preloader */
#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffd248;
  z-index: 30;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url(../img/pufff.svg) center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

/* Сітка товарів */

.item-img-wrapper {
  position: relative;
}

.item-header {
  position: relative;
  display: inline-block;
}

.item-header::before {
  content: " ";
  position: absolute;
  top: 1px;
  z-index: -1;
  display: block;
  height: 20px;
  background: #ffd248;
  max-width: 100%;
  width: 100%;
  transition: width 0.3s 0.1s;
}

.hot-price {
  position: absolute;
  left: 40px;
  top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  background-color: #ffd248;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.item-picture {
}
